<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc mi ipsum faucibus vitae aliquet nec. Consequat ac felis donec et. Non arcu risus quis varius. Arcu dictum varius duis at. Ornare arcu odio ut sem nulla. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Dolor sit amet consectetur adipiscing elit ut aliquam. Aliquam id diam maecenas ultricies mi eget mauris pharetra. Facilisis mauris sit amet massa vitae tortor condimentum lacinia quis. Sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Semper auctor neque vitae tempus quam pellentesque nec. Donec ac odio tempor orci dapibus ultrices. Lacus vel facilisis volutpat est velit egestas. Facilisi etiam dignissim diam quis enim lobortis scelerisque. Massa ultricies mi quis hendrerit dolor magna.</p>
        </div>
    </div>
  </div>